@import url("reset.css");
@import url("variables.css");

/* 검색 */
.search_btn {
    width: 70px;
    height: 32px;
    border-radius: 16px;
    position: absolute;
    right: 4px;
}
.search_bar {
    width: 520px;
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 45px;
    border-radius: 20px;
    border: 1px solid red;
    background-color: white;
    z-index: 1;
    position: relative;
}
.search_bar__input {
    width: 170px;
    border: none;
    overflow: auto;
    margin-left: 8px;
    margin-right: 60px;
    z-index: -1;
    font-size: 15px;
    transition: all 0.2s linear;
}
.search_bar__input:focus {
    outline: none;
    width: 100%;
    text-align: left;
}

.base--log_btn {
    height: 36px;
    border-radius: 18px;
    font-size: 15px;
}

/* 프로필사진관련 */
.base--profile--img_form {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    overflow: hidden;
}
.base--profile--img_form img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* 사이드바 */
.base--side_btn:focus {
    border: none;
}

.base--log_user {
    font-size: 14px;
}

/* top 버튼 */
body {
    position: relative;
}
#scroll-to-top-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: fixed;
    bottom: 30px;
    right: 30px;

    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-out;
    z-index: 999;
}
#scroll-to-top-button.show {
    opacity: 1;
    visibility: visible;
}
.base--cate_btn {
    color: gray;
    transition: all 0.1s linear;
}
.base--cate_btn:hover {
    color: black;
    transform: scale(1.03);
}