{% extends 'base.html' %}
{% load static %}


{% block style %}
<title>비밀번호수정</title>
<link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/map.css'%}">
{% endblock style %}


{% block content %}
<div class="wid">
  <!-- change password title -->
  <h3 class="my-0 pb-4 fw-bold">비밀번호수정</h3>
  <!-- change password form -->
  <form action="{% url 'accounts:change_password' %}" style="width: 500px" method="POST" class="mx-auto m-5">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="비밀번호변경" class="btn btn-outline-secondary d-block w-100 mb-2">
    <a class="btn btn-outline-secondary d-block w-100" onclick='func()' href="{% url 'posts:posts' %}" role="button">HOME</a>
  </form>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b8f429608439fe66cf463070bdbdb14"></script>
{% endblock script %}