{% extends 'base.html' %}
{% load static %}


{% block style %}
<title>{{ person.username }}님의 프로필</title>
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock style %}


{% block content %}
<main class="profile-main d-flex align-items-center">
  <div class="container container d-flex flex-column align-items-center px-0">
    <!-- profile tilte -->
    <div class="d-flex justify-content-center align-items-center position-relative my-5 w-100">
      <a class="position-absolute start-0 ms-5 btn btn-outline-secondary" href="{% url 'index' %}">뒤로 가기</a>
      <h2 class="fw-bold">{{ person.username }}님의 프로필</h2>
    </div>
    <!-- profile main -->
    <div class="row my-auto">
      <!-- user profile -->
      <section class="user-profile col-3 d-flex justify-content-center">
        <div class="user-info-container d-flex flex-column align-items-center w-75">
          <div class="user-info mt-4 mb-5 d-flex flex-column align-items-center">
            <div class="user-info__avatar w-75 mb-4 rounded-circle d-flex flex-column align-items-center justify-content-center">
              {% if person.profile_image %}
                <img class="w-100 rounded-circle" src="{{ person.profile_image.url }}" alt="프로필이미지">
              {% else %}
                <img class="w-100 rounded-circle" src="{% static 'accounts/img/no_profile.jpeg' %}" alt="기본 프로필 이미지">
              {% endif %}
            </div>
            <div class="user-info__id mb-3">
              <h3 class="fw-bold m-0 w-100 text-center px-2">{{ person.username }}</h3>
              {% if person.is_admin %}
                <div>(관리자)</div>
              {% endif %}
            </div>
            <!-- user-info__팔로우 및 팔로워 현황-->
            <div class="user-info__follow mb-3">
              <span>팔로워 </span><span id="followers-count">{{ person.followers.all|length }}</span>
              <span> / </span>
              <span>팔로잉 </span><span id="followings-count">{{ person.followings.all|length }}</span>
            </div>
            <!-- user-info__본인 프로필이면 회원정보 수정 / 타인이면 팔로우 버튼 -->
            <div class="w-100">
              {% if request.user == person %}
                <div class="w-100 mb-4 d-flex flex-column align-items-center">
                  <a href="{% url 'accounts:update' %}" class="btn btn-outline-secondary w-75 fw-bold">회원정보 수정</a>
                </div>
              {% else %}
                <form id="follow-form" data-user-id="{{ person.pk }}" class="w-100 mb-4 d-flex flex-column align-items-center">
                  {% csrf_token %}
                  {% if request.user in person.followers.all %}
                    <input class="btn btn-outline-secondary w-75 fw-bold" type="submit" value="언팔로우">
                  {% else %}
                    <input class="btn btn-outline-secondary w-75 fw-bold" type="submit" value="팔로우">
                  {% endif %}
                </form>
              {% endif %}
            </div>
          </div>
          <div class="user-articles-category w-100 mb-4 d-flex flex-column align-items-center">
            <button class="category-btn btn btn-danger w-75 fw-bold mb-3" data-target="#review-content">리뷰</button>
            <button class="category-btn btn btn-secondary w-75 fw-bold mb-3" data-target="#comment-content">댓글</button>
            <button class="category-btn btn btn-secondary w-75 fw-bold" data-target="#like-content">좋아요</button>
          </div>
        </div>
      </section>

      <!-- user content -->
      <section class="user-articles-section col-9 p-0">
        <!-- 작성한 리뷰 -->
        <section id="review-content" class="category-content mb-4" style="display: block;">
          <div>
            <h3 class="user-articles__title mb-4 fw-bold">작성한 리뷰</h3>
            <div class="row" style="min-height: 45rem;">
              {% if person.review_set.all %}
                <div id="map" class="w-100 rounded-3 mb-3 col-12" style="height: 300px;"></div>
                {% for review in person.review_set.all %}
                  <div class="col-6 p-0">
                    <article class="user-article--review p-4 m-1 d-flex justify-content-center row">
                      <!-- 리뷰 이미지-->
                      <div style="width: 7rem; height: 7rem; overflow: hidden;" class="d-flex justify-content-center col-2">
                        {% if review.reviewphoto_set.exists %}
                          <img class="h-100" style="object-fit: contain;" src="{{ review.reviewphoto_set.first.photo.url }}" alt="">
                        {% else %}
                          <img class="h-100" style="object-fit: contain;" src="{% static 'posts/img/no_img.jpg' %}" alt="">
                        {% endif %}
                      </div>
                      <!-- 리뷰 content-->
                      <div class="col-9 px-3 d-flex flex-column justify-content-between">
                        <div class="d-flex" >
                          <span class="me-2">From</span>
                          <h5 class="fw-bold">{{ review.post.title }}</h5>
                        </div>
                        <div class="user-article--review__time mb-2">
                          <span>날짜</span>
                          <time class=""> {{ review.updated_at|date:'Y-m-d' }}</time>
                        </div>
                        <div class="user-article--review__middle mb-3">
                          <div class="user-article--review__middle__desc">{{ review.content }}</div>
                        </div>
                      </div>
                    </article>
                  </div>
                {% endfor %}
              {% else %}
              <div class="w-100 d-flex flex-column justify-contents-center align-items-center my-5">
                <img src="https://img.freepik.com/free-photo/cute-little-dog-impersonating-a-business-person_23-2148985937.jpg" alt="게시글 없음 대체 이미지" class="mb-5">
                <div class="text-center fs-4 fw-bold mb-5">작성한 리뷰가 없네요 <br>대신 귀여운 강아지를 드리겠습니다</div>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
        <!-- 작성한 댓글 리스트-->
        <section id="comment-content" class="category-content mb-4" style="display: none;">
          <div class="user-articles-inner user-articles--review">
            <h3 class="user-commentstitle mb-4 fw-bold">작성한 댓글</h3>
            <div style="min-height: 45rem;">
              {% if person.comment_set.all %}
                {% for comment in person.comment_set.all %}
                  <a class="col" href="" class="p-4 d-block">
                    <div class="w-100 user-article--review mb-2 p-3 d-flex justify-content-between">
                      <span>{{ comment.content }}</span>
                      <span>{{ comment.created_at|date:'Y-m-d' }}</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                <div class="w-100 d-flex flex-column justify-contents-center align-items-center my-5">
                  <img src="https://img.freepik.com/free-photo/cute-little-dog-impersonating-a-business-person_23-2148985937.jpg" alt="게시글 없음 대체 이미지" class="mb-5">
                  <div class="text-center fs-4 fw-bold mb-5">작성한 댓글이 없네요 <br>대신 귀여운 강아지를 드리겠습니다</div>
                </div>
              {% endif %}
            </div>
          </div>
        </section>

        <!-- 좋아요 게시글 관련 리스트-->
        <section id="like-content" class="category-content mb-4" style="display: none;">
          <div class="user-articles-inner user-articles--review">
            <h3 class="user-like-cafe__title mb-4 fw-bold">좋아요한 가게</h3>
            <div style="min-height: 45rem;">
              {% if person.like_posts.all %}
                <div class="user-like-cafe__detail row row-cols-5 g-3">
                {% for post in person.like_posts.all %}
                  <a class="col" href="">
                    <div class="card">
                      <div style="height: 120px; overflow: hidden; object-fit: contain;">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                      </div>
                      <div class="card-body p-2">
                        <h6 class="card-title fw-bold d-flex align-items-center"> {{ post.title }}</h6>
                        <address class="card-text user-article--review__middle__desc">{{ post.address }}</address>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
              <div class="w-100 d-flex flex-column justify-contents-center align-items-center my-5">
                <img src="https://img.freepik.com/free-photo/cute-little-dog-impersonating-a-business-person_23-2148985937.jpg" alt="게시글 없음 대체 이미지" class="mb-5">
                <div class="text-center fs-4 fw-bold mb-5">좋아요한 가게가 없네요 <br>대신 귀여운 강아지를 드리겠습니다</div>
              </div>
              {% endif %}
              <!-- 샘플 article -->
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</main>
{% endblock content %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b8f429608439fe66cf463070bdbdb14&libraries=services"></script>
<script src="{% static 'accounts/js/profile__map.js' %}"></script>
<script src="{% static 'accounts/js/profile__follow-btn.js' %}"></script>
<script src="{% static 'accounts/js/profile__category-btn.js' %}"></script>
{% endblock script %}