@import "reset.css";
@import "variables.css";

.detail--comment_btn {
    width: 80px;
    height: 38px;
    border: none;
}
.detail--comment_form {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--form-lightgray);
    padding: var(--comment_form-padding);
}
.detail--post_form {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--form-lightgray);
    padding: var(--post_form-padding);
}
.detail--date_font {
    font-size: var(--font-medium-size);
    color: var(--font-gray);
}
.detail--delete_btn {
    margin-bottom: 2px;
    font-size: var(--font-medium-size);
    color: var(--font-gray);
    background-color: transparent;
}
.detail--update_btn {
    font-size: var(--font-medium-size);
    color: var(--font-gray);
}
/* 프로필사진관련 */
.profile--img_small_form {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-red);
    border-radius: 50%;
    overflow: hidden;
}
.profile--img_medium_form {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-red);
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}
.profile--img_medium_form img, .profile--img_small_form img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* 첨부이미지관련 */
.photo--form {
    width: 33%;
    height: 250px;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow: hidden;
}
.photo--form img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* 좋아요버튼관련 */
.detail--like_btn {
    color: red;
    background-color: transparent;
    transition: all 0.1s linear;
}
.detail--like_btn:hover {
    transform: scale(1.2);
}
.detail--unlike_btn {
    color: gray;
    background-color: transparent;
    transition: all 0.1s linear;
}
.detail--unlike_btn:hover {
    transform: scale(1.2);
    color: black;
}
