@import "reset.css";
@import "variables.css";

.posts--cate_btn {
    width: 25%;
    height: 60px;
    color: white;
    background-color: var(--btn-gray);
    border-radius: 10px;
}
.posts--cate_btn:hover {
    background-color: darkgray;
}
.posts--cate_form {
    width: 100%;
    height: 350px;
    background-color: var(--form-lightgray);
    border-radius: 1rem;
    padding: 0;
    transition: all 0.1s linear;
}
.posts--cate_form:hover {
    background-color: lightgray;
}
.posts--cate_img_form {
    width: 40%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}
.posts--cate_img_form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.posts--cate_form_icon {
    width: 35px;
    height: 35px;
    background-color: var(--form-gray);
    color: white;
    border-radius: 6px;
}