@import "reset.css";
@import "variables.css";

.search--cate_form {
    width: 100%;
    height: 250px;
    background-color: var(--form-lightgray);
    border-radius: 1rem;
    padding: 0;
    transition: all 0.1s linear;
}
.search--cate_form:hover {
    background-color: rgb(235, 235, 235);
}
.search--cate_content {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 좋아요 댓글 아이콘 */
.search--cate_icon {
    font-size: 18px;
    color: gray;
}
.search--cate_img_form {
    width: 50%;
    height: 250px;
    border: 0.5px solid lightgray;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}
.search--cate_img_form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.search--cate_img_form img:hover {
    transform: scale(1.05);
}
.search--cate_form_icon {
    width: 35px;
    height: 35px;
    background-color: var(--form-gray);
    color: white;
    border-radius: 6px;
}
/* 좋아요버튼관련 */
.search--like_btn {
    color: red;
    background-color: transparent;
    transition: all 0.1s linear;
}
.search--like_btn:hover {
    transform: scale(1.2);
}
.search--unlike_btn {
    color: gray;
    background-color: transparent;
    transition: all 0.1s linear;
}
.search--unlike_btn:hover {
    transform: scale(1.2);
    color: black;
}
/* 프로필사진관련 */
.profile--img_small_form {
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
    overflow: hidden;
}
.profile--img_small_form img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}