{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}


{% block content %}
<main>
    <div class="container">
        <form>
            <input type="text" placeholder="지역을 입력해주세요">
            <input type="submit" value="검색">
        </form>
        <div id="carouselExampleInterval" class="carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-flex justify-content-center" data-bs-interval="10000">
                    <div class="w-75">
                        <img src="https://cdn.iconsumer.or.kr/news/photo/202101/14546_18858_3032.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="carousel-item d-flex justify-content-center" data-bs-interval="2000">
                    <div class="w-75">
                        <img src="https://cdn.sommeliertimes.com/news/photo/201703/4360_8131_1831.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <div class="w-75">
                        <img src="https://cdn.iconsumer.or.kr/news/photo/202101/14546_18858_3032.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden text-dark">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</main>
{% endblock content %}