{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock style %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Navbar </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"> Home </a></li>
                <li class="nav-item"><a class="nav-link" href="#"> Link </a></li>
            </ul>
            <form class="d-flex" method="GET" action="{% url 'posts:search' %}">       
              <input class="form-control me-2" type="text" placeholder="Search" name="q" aria-label="Search">
              <button class="btn btn-outline-success" type="submit"> Search </button>
            </form>
        </div>
    </div>
</nav>

  {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:profile' user.username %}">프로필</a>
    <form action="{% url 'accounts:logout' %}" method='POST'>
      {% csrf_token %}
      <input class="btn btn-outline-secondary text-center" type='submit' value='Logout'>
    </form>
    <form action="{% url 'accounts:delete' %}" method='POST'>
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-secondary" role="button">회원탈퇴</button>
    </form>
    <a href="{% url 'accounts:update' %}">회원정보수정</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Signup</a>
  {% endif %}

  <a href="{% url 'posts:create' %}">[CREATE]</a>

    <main>
      <div class="container my-5">
        <!-- 카테고리 -->
        <div class="mb-5">
          <h2 class="mb-4"><strong>카테고리</strong></h2>
          <div class="d-flex gap-3">
            <a href="{% url 'posts:index' %}" class="posts--cate_btn d-flex gap-3 align-items-center justify-content-center">
              <span class="material-symbols-outlined">menu</span>
              <h5 class="m-0">모든 카페</h5>
            </a>
            <a href="{% url 'posts:index' %}" class="posts--cate_btn d-flex gap-3 align-items-center justify-content-center">
              <span class="material-symbols-outlined">stylus</span>
              <h5 class="m-0">카공/모각코</h5>
            </a>
            <a href="{% url 'posts:index' %}" class="posts--cate_btn d-flex gap-3 align-items-center justify-content-center">
              <span class="material-symbols-outlined">pets</span>
              <h5 class="m-0">펫 카페</h5>
            </a>
            <a href="{% url 'posts:index' %}" class="posts--cate_btn d-flex gap-3 align-items-center justify-content-center">
              <span class="material-symbols-outlined">import_contacts</span>
              <h5 class="m-0">북 카페</h5>
            </a>
          </div>
        </div>

        <!-- 각각의 카테고리 목록 -->
          <div>
            <div class="d-flex">
              <h2 class="mb-4"><strong>모든 카페</strong></h2>
            </div>

            {% for post in posts %}
            <!-- 카페 상세페이지로 이동 -->
            <div class="posts--cate_form d-flex mb-5">
              <!-- 카테고리 카페 이미지 -->
              <div class="posts--cate_img_form">
                <img src="https://www.jeongdong.or.kr/static/portal/img/HKPU_04_04_pic1.jpg" alt="">
              </div>
              <div class="w-100 h-100">
                <!-- 카테고리 카페 이름 -->
                <div class="m-5 d-flex">
                  <div class="col-10 d-flex flex-column justify-content-between">
                    <a href='{% url 'posts:post' post.pk %}'>
                    <div class="d-flex gap-2">
                      <div class="posts--cate_form_icon d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">stylus</span></div>
                      <h2><strong>스터디 카페</strong></h2>
                    </div>
                    <div class="mb-5"><strong>주소 |</strong> 서울 종로구 북촌로 6-3 1층</div>

                      {% if posts %}
                        {% for post in posts %}
                        <div class="d-flex align-items-center gap-3">
                          {% if post.user.profile_image %}
                            <div class='profile--img_small_form mt-2'>
                                <img src="{{ post.user.profile_image.url }}" alt="">
                            </div>
                          {% else %}
                            <div class='profile--img_small_form mt-2'>
                                <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image">
                            </div>
                          {% endif %}
                          <div class="posts--cate_content">{{ post.content }}</div>
                        </div>
                        {% endfor %}
                      {% else %}
                        <div class='mx-auto'>리뷰가 없습니다.</div>
                      {% endif %}
                    </a>
                  </div>
                  <div class="col-2 d-flex align-items-end justify-content-between flex-column">
                    <!-- 좋아요 버튼 -->
                    <div>
                      <form action="{% url 'posts:likes' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if request.user in post.like_users.all %}
                          <button type="submit" class="border-0 p-0 posts--like_btn">
                            <span class="material-symbols-outlined">
                              favorite
                            </span>
                          </button>
                        {% else %}
                          <button type="submit" class="border-0 p-0 posts--unlike_btn">
                            <span class="material-symbols-outlined">
                              favorite
                            </span>
                          </button>
                        {% endif %}
                      </form>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                      <div class="d-flex align-items-center gap-1">
                        <span class="material-symbols-outlined post--cate_icon">favorite</span>
                        <div>12</div>
                      </div>
                      <div class="d-flex align-items-center gap-1">
                        <span class="material-symbols-outlined post--cate_icon">mode_comment</span>
                        <div>{{ posts|length }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
      </div>
    </main>
{% endblock content %}