{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock style %}


{% block content %}
  <main>
    <div class="posts--banner_form w-100">
      {% if subject == '카공 모각코' %}
        <div class="post--banner_text">
          <h3>모각코 어디서 할지 고민된다면?</h3>
          <h1><b>카공/모각코</b></h1>
        </div>
        <div class="w-100 h-100 post--banner_filter"></div>
        <img src="{% static 'posts/img/study_cafe.png' %}" alt="">
      {% elif subject == '펫 카페' %}
        <div class="post--banner_text">
          <h3>귀여운 강아지와 고양이가 보고싶다면?</h3>
          <h1><b>펫 카페</b></h1>
        </div>
        <div class="w-100 h-100 post--banner_filter"></div>
        <img src="{% static 'posts/img/pet_cafe.jpg' %}" alt="">
      {% elif subject == '북 카페' %}
        <div class="post--banner_text">
          <h3>조용히 독서에 집중하고 싶다면?</h3>
          <h1><b>북 카페</b></h1>
        </div>
        <div class="w-100 h-100 post--banner_filter"></div>
        <img src="{% static 'posts/img/book_cafe.png' %}" alt="">
      {% else %}
        <div class="post--banner_text">
          <h3>여러분의 카페를 리뷰해주세요</h3>
          <h1><b>투데이 카페</b></h1>
        </div>
        <div class="w-100 h-100 post--banner_filter"></div>
        <img src="{% static 'posts/img/all_category.jpg' %}" alt="">
        {% endif %}
      </div>
    <div class="container my-5">

      <a href="{% url 'posts:create' %}">[CREATE]</a>

        {% for post in posts %}
        <!-- 카페 상세페이지로 이동 -->
        <div class="posts--cate_form d-flex mb-5">
          <!-- 카테고리 카페 이미지 -->
          <div class="posts--cate_img_form">
            <a href='{% url 'posts:post' post.pk %}'>
              <img src="{{ post.image.url }}" alt="">
            </a>
          </div>
          <div class="w-100">
            <!-- 카테고리 카페 이름 -->
            <div class="m-5 d-flex">
              <div class="col-10 d-flex flex-column justify-content-between">
                <a href='{% url 'posts:post' post.pk %}'>
                <div class="d-flex gap-2">
                  <div class="posts--cate_form_icon d-flex justify-content-center align-items-center">
                    <span class="material-symbols-outlined">
                    {% if subject == '카공 모각코' %}
                      stylus
                    {% elif subject == '펫 카페' %}
                      pets
                    {% elif subject == '북 카페' %}
                      import_contacts
                    {% endif %}
                    </span>
                  </div>
                  <h2><strong>{{ post.title }}</strong></h2>
                </div>
                <div class="mb-5"><strong>주소 |</strong> {{ post.address }}</div>

                  {% if posts.reviews %}
                    {% for post in posts %}
                    <div class="d-flex align-items-center gap-3">
                      {% if post.user.profile_image %}
                        <div class='profile--img_small_form mt-2'>
                            <img src="{{ post.user.profile_image.url }}" alt="">
                        </div>
                      {% else %}
                        <div class='profile--img_small_form mt-2'>
                            <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image">
                        </div>
                      {% endif %}
                      <div class="posts--cate_content">{{ post.content }}</div>
                    </div>
                    {% endfor %}
                  {% else %}
                    <div class='mx-auto'>리뷰가 없습니다.</div>
                  {% endif %}
                </a>
              </div>
              <div class="col-2 d-flex align-items-end justify-content-between flex-column">
                <!-- 좋아요 버튼 -->
                <div>
                  <form action="{% url 'posts:likes' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if request.user in post.like_users.all %}
                      <button type="submit" class="border-0 p-0 posts--like_btn">
                        <span class="material-symbols-outlined">
                          favorite
                        </span>
                      </button>
                    {% else %}
                      <button type="submit" class="border-0 p-0 posts--unlike_btn">
                        <span class="material-symbols-outlined">
                          favorite
                        </span>
                      </button>
                    {% endif %}
                  </form>
                </div>
                <div class="d-flex align-items-center gap-3">
                  <div class="d-flex align-items-center gap-1">
                    <span class="material-symbols-outlined post--cate_icon">favorite</span>
                    <div>12</div>
                  </div>
                  <div class="d-flex align-items-center gap-1">
                    <span class="material-symbols-outlined post--cate_icon">mode_comment</span>
                    <div>{{ posts|length }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- 페이지네이션 작성 -->
      <ul class='pagination justify-content-center align-items-center my-5'>
        {% if posts.has_previous %}

          <!-- 처음으로 버튼 (페이지를 1로 설정) -->
          <li class='page-item'>
            <a class='page-link focus-ring focus-ring-danger text-dark border-0 d-flex align-items-cente' href="?page=1">
              <span class="material-symbols-outlined">
                keyboard_double_arrow_left
              </span>
            </a>
          </li>

          <li class='page-item'>
            <a class='page-link focus-ring focus-ring-danger text-dark border-0 d-flex align-items-center' href="?page={{ posts.previous_page_number }}">
              <span class="material-symbols-outlined">
                keyboard_arrow_left
              </span>
            </a>
          </li>
        {% endif %}
        {% for page_number in posts.paginator.page_range %}
          {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
            {% if page_number == posts.number %}
              <li class='page-item active' aria-current='page'>
                <a class='page-link fw-semibold focus-ring focus-ring-danger text-danger bg-transparent border-0 d-flex align-items-center' href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class='page-item'>
                <a class='page-link focus-ring focus-ring-danger text-dark border-0 d-flex align-items-center' href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link focus-ring focus-ring-danger text-dark border-0 d-flex align-items-center" href="?page={{ posts.next_page_number }}">
              <span class="material-symbols-outlined">
                keyboard_arrow_right
              </span>
            </a>
          </li>

          <!-- 마지막으로 버튼 (페이지를 전체페이지 수로 설정) --> 
          <li class="page-item">
            <a class="page-link focus-ring focus-ring-danger text-dark border-0 d-flex align-items-center" href="?page={{ posts.paginator.num_pages }}">
              <span class="material-symbols-outlined">
                keyboard_double_arrow_right
              </span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </main>
{% endblock content %}