{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/post.css' %}">
{% endblock style %}


{% block content %}
<main>
    <div class='container my-5'>
        <div class="d-flex mb-3">
            <div class="d-flex flex-grow-1 align-items-center gap-3">
                <div class="post--cate_form_icon d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">stylus</span></div>
                <h2 id="post-title"><strong>{{ post.title }}</strong></h2>
                <div>
                    <form class="like-forms" data-post-id="{{ post.pk }}">
                    {% csrf_token %}
                    {% if request.user in post.like_users.all %}
                        <button type="submit" class="border-0 p-0 post--like_btn" id="like-{{ post.pk }}">
                        <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </button>
                    {% else %}
                        <button type="submit" class="border-0 p-0 post--unlike_btn" id="like-{{ post.pk }}">
                        <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </button>
                    {% endif %}
                    </form>
                </div>
            </div>
            <a href="{% url 'posts:review_create' post.pk %}" class="btn btn-danger post--create_btn d-flex align-items-center justify-content-center gap-3"><span class="material-symbols-outlined">edit_square</span><div>리뷰작성</div></a>
        </div>

        <!-- 지도 -->
        <div id="map" class="post--map_form w-100 my-3"></div>

        <div class="d-flex mb-3">
            <div class="w-100">
                <!-- 카페 기본정보 -->
                <div class="post--info_form d-flex gap-3">
                    <div class="d-flex flex-column justify-content-center w-100">
                        <!-- 주소 정보 -->
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-3 d-flex align-items-center gap-2">
                                <span class="material-symbols-outlined">location_on</span>
                                <h6 class="m-0"><strong>주소</strong></h6>
                            </div>
                            <div class=" flex-grow-1" id="post-address">{{ post.address }}</div>
                        </div>
    
                        <!-- 전화번호 -->
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-3 d-flex align-items-center gap-2">
                                <span class="material-symbols-outlined">call</span>
                                <h6 class="m-0"><strong>전화번호</strong></h6>
                            </div>
                            <div>{{ post.phone_number }}</div>
                        </div>
    
                        <!-- 영업시간 -->
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-3 d-flex align-items-center gap-2">
                                <span class="material-symbols-outlined">schedule</span>
                                <h6 class="m-0"><strong>영업시간</strong></h6>
                            </div>
                            <div>{{ post.hours }}</div>
                        </div>
    
                        <!-- 메뉴 -->
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-3 d-flex align-items-center gap-2">
                                <span class="material-symbols-outlined">summarize</span>
                                <h6 class="m-0"><strong>메뉴</strong></h6>
                            </div>
                            <div>{{ post.menu }}</div>
                        </div>
    
                        <!-- 편의시설/정보 -->
                        <div class="d-flex align-items-center mb-4">
                            <div class="col-3 d-flex align-items-center gap-2">
                                <span class="material-symbols-outlined">info</span>
                                <h6 class="m-0"><strong>편의시설 정보</strong></h6>
                            </div>
                            <div>{{ post.information }}</div>
                        </div>
    
                        <!-- 태그 -->
                        <div class="d-flex align-items-center gap-3 mb-3">
                            {% for tag in tags %}
                                <a href="{% url 'posts:tagged' tag.pk %}">
                                    <div class="post--tag">#{{ tag.name }}</div>
                                </a>
                            {% endfor %}
                        </div>
    
                        <!-- 카페정보 수정 --> 
                        <div class="d-flex align-items-center">
                            <span class="me-3 text-secondary update_font">최근 업데이트 : {{ post.updated_at|date:'Y-m-d' }}</span>
                            <div class="d-flex align-items-center gap-3">
                                {% if request.user == post.user %}
                                    <a class="post--update_btn" href="{% url 'posts:update' post.pk %}"><span>수정</span></a>
                                    <form action="{% url 'posts:delete' post.pk %}" method='POST' class="p-0 m-0">
                                        {% csrf_token %}
                                        <input type='submit' class="p-0 border-0 post--delete_btn" value='삭제' onclick="return confirm('삭제 하시겠습니까?')">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- 카페사진 -->
                    <div class="post--img_form w-75">
                        <img src="{{ post.image.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- 리뷰 -->
        <h4 class="my-4"><strong>리뷰 ({{ reviews|length }})</strong></h4>

        {% if reviews %}
            {% for review in reviews %}
            <div class="post--detail_form mb-3">
                <div class="d-flex gap-4">
                    <!-- 리뷰 프로필 이미지 -->
                    <div class="col-1 d-flex flex-column align-items-center gap-3">
                        {% if review.user.profile_image %}
                            <div class='profile--img_medium_form'>
                                <img src="{{ review.user.profile_image.url }}" alt="">
                            </div>
                        {% else %}
                            <div class='profile--img_medium_form'>
                                <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image">
                            </div>
                        {% endif %}
                        <a href='{% url 'accounts:profile' review.user.username %}'><strong>{{ review.user.username }}</strong></a>

                        <!-- 타인이면 팔로우 버튼 -->
                        {% if request.user != review.user %}
                            <form id="follow-form" data-user-id="{{ review.user.pk }}" class="w-100">
                                {% csrf_token %}
                                {% if request.user in review.user.followers.all %}
                                    <input class="btn btn-secondary w-100" type="submit" value="언팔로우">
                                {% else %}
                                    <input class="btn btn-secondary w-100" type="submit" value="팔로우">
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>

                    <div class="col-10 d-flex flex-grow-1 flex-column w-75">
                        <div class="mb-3">
                            {% if review.created_string == False %}
                                {{ review.created_at|date:'Y-m-d' }}
                            {% else %}
                                {{ review.created_string }}
                            {% endif %}
                        </div>
                        <a href="{% url 'posts:review_detail' post.pk review.pk %}" class="d-flex gap-4">
                            <div class="post--review_photo_form">
                                {% if review.reviewphoto_set.exists %}
                                    <img src="{{ review.reviewphoto_set.first.photo.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'posts/img/no_img.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="d-flex flex-column gap-3">
                                <div class="fs-5">{{ review.star_rating }}</div>
                                <div class="mb-4">{{ review.content }}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-1 d-flex flex-column align-items-end">
                        <form class="review-like-forms" data-post-id="{{ post.pk }}" data-review-id="{{ review.pk }}">
                        {% csrf_token %}
                        {% if request.user in review.like_users.all %}
                            <button type="submit" class="border-0 post--like_btn" id="like-{{ post.pk }}-{{ review.pk }}">
                            <span class="material-symbols-outlined">
                                favorite
                            </span>
                            </button>
                        {% else %}
                            <button type="submit" class="border-0 post--unlike_btn" id="like-{{ post.pk }}-{{ review.pk }}">
                            <span class="material-symbols-outlined">
                                favorite
                            </span>
                            </button>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="d-flex flex-column align-items-center text-secondary">
            <h5>생성된 리뷰가 없습니다</h5>
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b8f429608439fe66cf463070bdbdb14&libraries=services"></script>
    <script src="{% static 'posts/js/postMap.js' %}"></script>
    <script src="{% static 'posts/js/postLike.js' %}"></script>
    <script src="{% static 'posts/js/postFollow.js' %}"></script>
    <script src="{% static 'posts/js/postReviewLike.js' %}"></script>
{% endblock script %}