{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/detail.css' %}">
{% endblock style %}


{% block content %}
  <main>
    <!-- 리뷰 타이틀 -->
    <div class="container my-5">
      <div>
        <div class="d-flex align-items-center gap-3 mb-3">
          <a href="{% url 'posts:post' post.pk %}">
            <span class="material-symbols-outlined">
              arrow_back_ios
            </span>
          </a>
          <h2><strong>스터디 카페</strong></h2>
        </div>

        <!-- 리뷰 -->
        <div class="d-flex detail--post_form gap-4">
          <div class="d-flex flex-column align-items-center gap-2">
            <!-- 리뷰 작성자 프로필 사진 -->
            {% if post.user.profile_image %}
              <div class='profile--img_medium_form'>
                  <img src="{{ post.user.profile_image.url }}" alt="">
              </div>
            {% else %}
              <div class='profile--img_medium_form'>
                  <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image">
              </div>
            {% endif %}
            <div><strong><a href="{% url 'accounts:profile' post.user.username %}">{{ post.user }}</a></strong></div>
          </div>
          
            <!-- 팔로우 버튼 -->
            {% comment %} <div class='d-flex align-items-center gap-3'>
              <div>
                <form action="{% url 'accounts:follow' person.pk %}" method="POST">
                  {% csrf_token %}
                  {% if request.user in person.followers.all %}
                    <input type="submit" value="UnFollow" class='btn btn-primary'>
                  {% else %}
                    {% if request.user.is_authenticated %}
                    <input type="submit" value="Follow" class='btn btn-primary'>
                    {% else %}
                    <input type="submit" value="Follow" disabled class='btn btn-primary'>
                    {% endif %}
                  {% endif %}
                </form>
              </div>
          </div> {% endcomment %}

          <!-- 리뷰내용 -->
          <div class="w-100">

            <!-- 첨부이미지 -->
            <div class="d-flex gap-3 mb-3">
                {% for photo in photos %}
                <div class="photo--form">
                  <img src="{{ photo.photo.url }}" alt="photo">
                </div>
                {% endfor %}
            </div>
            <div class="d-flex align-items-center gap-3 my-1">
              <div class="detail--date_font">
                {% if review.created_string == False %}
                  {{ review.created_at|date:'Y-m-d' }}
                {% else %}
                  {{ review.created_string }}
                {% endif %}
              </div>

              <!-- 수정 및 삭제 -->
              <div class="d-flex align-items-center gap-2">
                {% if request.user == post.user %}
                  <a class="detail--update_btn" href="{% url 'posts:review_update' post.pk review.pk %}"><span>수정</span></a>
                  <form action="{% url 'posts:review_delete' post.pk review.pk %}" method='POST' class="p-0 m-0">
                    {% csrf_token %}
                    <input type='submit' class="p-0 border-0 detail--delete_btn" value='삭제' onclick="return confirm('삭제 하시겠습니까?')">
                  </form>
                {% endif %}
              </div>
            </div>
            <div>{{ review.content }}</div>
          </div>
        </div>
      </div>
      <hr>

      <!-- 댓글 작성 -->
      <h4 class="my-4"><strong>댓글 ({{ comments|length }})</strong></h4>
      <form action="{% url 'posts:comments_create' post.pk review.pk %}" method="POST">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="d-flex gap-3">
          <p class="w-100">
            {{ field }}
          </p>  
        {% endfor %}
        <input type="submit" class="btn btn-danger detail--comment_btn" value="댓 글">
        </div>
      </form>
    
      <!-- 댓글 목록 -->
      {% for comment in comments|dictsortreversed:'created_at' %}
        <div class="detail--comment_form my-3">

          <div class="d-flex gap-3">
            <!-- 댓글 프로필 사진 -->
            <div>
              {% if comment.user.profile_image %}
                <div class='profile--img_small_form'>
                    <img src="{{ comment.user.profile_image.url }}" alt="">
                </div>
              {% else %}
                <div class='profile--img_small_form'>
                    <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image">
                </div>
              {% endif %}
            </div>

            <div>
              <div class="d-flex align-items-center gap-3 mb-3">
                <div>
                  <strong><a href="{% url 'accounts:profile' comment.user.username %}">{{comment.user}}</a></strong>
                </div>
                <div class="detail--date_font">
                  {% if comment.created_string == False %}
                    {{ comment.created_at|date:'Y-m-d' }}
                  {% else %}
                    {{ comment.created_string }}
                  {% endif %}
                </div>
                {% if comment.user == user %}
                <form action="{% url 'posts:comments_delete' post.pk review.pk comment.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="border-0 detail--delete_btn" value="삭제" onclick="return confirm('삭제 하시겠습니까?')">
                </form>
              {% endif %}
              </div>
                {{ comment.content }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}