{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/create.css' %}">
{% endblock style %}

{% block content %}
<main>
    <div class="container my-5 create_form">
        <div class="d-flex align-itmes-center justify-content-center mb-3 position-relative">
            <a href="{% url 'posts:post' post.pk %}" class="position-absolute start-0 create--back_btn">
                <span class="material-symbols-outlined mt-2">
                    arrow_back_ios
                </span>
            </a>
            <h2><strong>리뷰 작성</strong></h2>
        </div>
        <hr>
        <form action="{% url 'posts:review_create' post.pk %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in review_form %}
            <div>
                <p>{{ field.label }}</p>
                <p>{{ field }}</p>
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-secondary create--submit_btn" value="리뷰 작성"></input>
        </form>
    </div>
</main>
{% endblock content %}