{% extends 'base.html' %}

{% block style %}
{% endblock style %}

{% block content %}
<h2>Review Detail</h2>
<hr>
<h3>{{ review.title }}</h3>
<p>{{ review.content }}</p>
<p>{{ review.created_at }}</p>
<p>Written by {{ review.user }}</p>

<form action="{% url 'posts:review_delete' post.pk review.pk %}" method='POST'>
    {% csrf_token %}
    <button type="submit" >리뷰 삭제</button>
</form>
<hr>
<form action="{% url 'posts:review_likes' post.pk review.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in review.like_users.all %}
      <input type="submit" value="좋아요 취소">
    {% else %}
      {% if request.user.is_authenticated %}
        <input type="submit" value="좋아요">
      {% else %}
        <input type="submit" value="좋아요" disabled>
      {% endif %}
    {% endif %}
</form>

<h2>Comments</h2>
{% for comment in comments.all %}
  <div>
    <p>{{ comment.content }}</p>
    <small>By {{ comment.user.username }}, {{ comment.created_at }}</small>
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}

<form action="{% url 'posts:comments_create' post.pk review.pk %}" method="POST">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" value="댓글 작성">
</form>


{% endblock content %}
