{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <h2 class="mb-4">#{{ tag.name }}</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in posts %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
              <p class="card-text"><strong>태그:</strong>
                {% for tag in post.tags.all %}
                  <a href="{% url 'posts:tagged' tag.pk %}" class="badge badge-secondary">#{{ tag.name }}</a>
                {% endfor %}
              </p>
            </div>
            <div class="card-footer">
              <a href="{% url 'posts:post' post.pk %}" class="btn btn-secondary">자세히 보기</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}