{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/tagged.css' %}">
{% endblock style %}


{% block content %}
  <div class="container my-5">
    <h4 class="mb-4"><b>#{{ tag.name }} ({{ posts|length }})</b></h4>
    {% for post in posts %}
    <!-- 카페 상세페이지로 이동 -->
    <div class="tagged--cate_form d-flex mb-5">
      <!-- 카테고리 카페 이미지 -->
      <div class="tagged--cate_img_form">
        <a href='{% url 'posts:post' post.pk %}'>
          <img src="{{ post.image.url }}" alt="">
        </a>
      </div>
      <div class="w-100">
        <!-- 카테고리 카페 이름 -->
        <div class="m-5 d-flex">
          <div class="col-10 d-flex flex-column justify-content-between">
            <a href='{% url 'posts:post' post.pk %}'>
            <div class="d-flex gap-2">
              <div class="tagged--cate_form_icon d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined">
                {% if post.category == '카공 모각코' %}
                  stylus
                {% elif post.category == '펫 카페' %}
                  pets
                {% elif post.category == '북 카페' %}
                  import_contacts
                {% endif %}
                </span>
              </div>
              <h2><strong>{{ post.title }}</strong></h2>
            </div>
            <div class="mb-5"><strong>주소 |</strong> {{ post.address }}</div>

              {% if post.review_set.all %}
                <div class="d-flex align-items-center gap-3">
                  {% if post.review_set.last.user.profile_image %}
                    <div class='profile--img_small_form mt-2'>
                        <img src="{{ post.review_set.last.user.profile_image.url }}" alt="">
                    </div>
                  {% else %}
                    <div class='profile--img_small_form mt-2'>
                        <img src="{% static 'accounts/img/no_profile.jpeg' %}" alt="profile_image">
                    </div>
                  {% endif %}
                  <div class="tagged--cate_content">{{ post.review_set.last.content }}</div>
                </div>
              {% else %}
                <div class='mx-auto'>작성된 리뷰가 없습니다.</div>
              {% endif %}
            </a>
          </div>
          <div class="col-2 d-flex align-items-end justify-content-between flex-column">
            <!-- 좋아요 버튼 -->
            <div>
              <form class="like-forms" data-post-id="{{ post.pk }}">
                {% csrf_token %}
                {% if request.user in post.like_users.all %}
                  <button type="submit" class="border-0 p-0 tagged--like_btn" id="like-{{ post.pk }}">
                    <span class="material-symbols-outlined">
                      favorite
                    </span>
                  </button>
                {% else %}
                  <button type="submit" class="border-0 p-0 tagged--unlike_btn" id="like-{{ post.pk }}">
                    <span class="material-symbols-outlined">
                      favorite
                    </span>
                  </button>
                {% endif %}
              </form>
            </div>
            <div class="d-flex align-items-center gap-3">
              <div class="d-flex align-items-center gap-1">
                <span class="material-symbols-outlined tagged--cate_icon">favorite</span>
                <div>{{ post.count_likes_user }}</div>
              </div>
              <div class="d-flex align-items-center gap-1">
                <span class="material-symbols-outlined tagged--cate_icon">mode_comment</span>
                <div>{{ post.review_set.all|length }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
    <script src="{% static 'posts/js/taggedLike.js' %}"></script>
{% endblock script %}